@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    background-color: white;
    color: black;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    font-family: 'Poppins', sans-serif;
}

.cab{
    display: flex;
    margin: 5px;
}

.cab h1{
    display: flex;
    position: relative;
    left: 40px;
    top: 100px;
    max-height: 20px;
    font-size: 70px;
}

.quem-somos h2{
    color: #008542;
    font-weight: bold;
    font-size: 22px;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #FDC82F;
    text-underline-position: under;
}

.quem-somos p{
    text-align: center;
    color: rgba(31, 31, 31, 0.671);
}

.card{
    justify-content: center;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.card img{
    transition: 0.3s all;
}

.card img:hover{
    transform: scale(1.06);
    transition: 0.3s all;
}

footer p{
    text-align: center;
    font-size: 14px;
    color: rgba(70, 70, 70, 0.721);
}